<app-header></app-header>
<ion-content color="primary" class="ion-no-padding" id="main-content">
  <ion-card>
    <ion-img src="../../assets/fruits_veggies.jpg"></ion-img>
  </ion-card>
  <ion-card>
    <ion-item *ngIf="isDataFetching" class="loader-wrapper">
      <div>
        <ion-spinner name="lines" color="primary"></ion-spinner>
      </div>
    </ion-item>
    <ion-card-content *ngIf="!isDataFetching">
      <ion-item lines="none" >
        <ion-label color="primary" class="ion-no-margin">
          Title: <span>{{donation?.food_title}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary" class="ion-no-margin">
          Submitted On: <span>{{donation?.submission_date}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary" class="ion-no-margin">
          Category: <span>{{donation?.cuisine_type}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary" class="ion-no-margin">
          Address: <span>{{donation?.donation_hours[0]?.address}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary" class="ion-no-margin">
          Pick Up Date: <span>{{donation?.donation_hours[0]?.date}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary" class="ion-no-margin">
          Pick Up Date: <span>{{donation?.donation_hours[0]?.pickup_time}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary" class="ion-no-margin">
          Quantity: <span>{{donation?.donation_hours[0]?.quantity}}</span>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
