<app-header></app-header>
<ion-content color="primary" class="ion-no-padding" id="main-content">
  <ion-card>
    <ion-img src="../../assets/fruits_veggies.jpg"></ion-img>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none" >
        <ion-label color="primary" class="ion-no-margin">
          Title: <span>{{donation?.foodTitle}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">
          Submitted On: <span>{{donation?.submissionDate}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">
          Category: <span>{{donation?.cuisine_type}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">
          Address: <span>{{donation?.donation_hours[0]?.address}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">
          Pick Up Date: <span>{{donation?.donation_hours[0]?.date}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">
          Pick Up Date: <span>{{donation?.donation_hours[0]?.pickup_time}}</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">
          Quantity: <span>{{donation?.donation_hours[0]?.quantity}}</span>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
