<ion-item [routerLink]="['/donation', donation?._id]" detail>
  <ion-thumbnail slot="start" class="item-image" tabindex="3" aria-label="image of food item">
    <ion-img src="../../assets/fruits_veggies.jpg"></ion-img>
  </ion-thumbnail>
  <ion-label color="primary">
    <h2 tabindex="3">Ttile: <span>{{donation.food_title}}</span></h2>
    <p tabindex="3">Category: <span>{{donation.category}}</span></p>
    <p tabindex="3"><span>{{donation.submission_date}}</span></p>
  </ion-label>
</ion-item>


