<app-header></app-header>
<ion-content color="primary" class="ion-no-padding" id="main-content">
  <ion-card class="ion-no-margin custom-border-radius">
    <ion-card-header tabindex="1" aria-label="profile image">
      <ion-item lines="none">
        <ion-avatar class="item-avatar" >
          <img src="../../assets/placeholder-user.png">
        </ion-avatar>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label color="primary">
          <h4 tabindex="1">Welcome Sree!!</h4>
          <p tabindex="1" *ngIf="donations">You have provided {{donations?.length}} donations so far.</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div id="my-donation">
    <div class="ion-text-center header" tabindex="2" aria-label="my donation list">My Donations</div>
    <ion-card color="primary">
      <ion-card-content class="ion-no-padding">
        <ion-item *ngIf="isListFetching" class="loader-wrapper">
          <div>
            <ion-spinner name="lines" color="primary"></ion-spinner>
          </div>
        </ion-item>
        <app-donationlist *ngFor="let donation of donations" [donation]="donation"></app-donationlist>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" routerLink="/donation-form" tabindex="3">
      <ion-icon name="add-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
