.item-avatar  {
  width:100px !important;
  height : 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
  margin:0 auto;
}
ion-label {
  p {
    white-space: normal;
  }
}


#my-donation{
  .header {
    font-size: 16px;
    margin-top: 10px;
  }
}
.top-section{
  background: var(--button-bg);
}
