ion-label {
  span {
    color: var(--button-bg);
  }
}
.loader-wrapper {
  --background: transparent;
  div{
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  ion-spinner {
    width: 60px;
    height: 60px;
    color: #FFF;
  }
}
