<app-header></app-header>
<ion-content color="primary" class="ion-no-padding" id="main-content">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size-lg="6" offset-lg="3" size-sm="12">
        <ion-card >
          <ion-img src="../../assets/fruits_veggies.jpg" aria-labelledby="Image of donated item"></ion-img>
        </ion-card>
        <ion-item class="loader-wrapper" *ngIf="isDataFetching">
          <div>
            <ion-spinner name="lines" color="primary"></ion-spinner>
          </div>
        </ion-item>
        <ion-card>
          <ion-card-content *ngIf="!isDataFetching">
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin" tabindex="1">
                Title: <span>{{donation?.food_title}}</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin"  tabindex="1">
                Submitted On: <span>{{donation?.submission_date}}</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin"  tabindex="1">
                Category: <span>{{donation?.category}}</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin"  tabindex="1">
                Address: <span>{{donation?.donation_hours[0]?.address}}</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin"  tabindex="1">
                Pick Up Date: <span>{{donation?.donation_hours[0]?.date}}</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin"  tabindex="1">
                Pick Up Time: <span>{{donation?.donation_hours[0]?.pickuptime}}</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary" class="ion-no-margin"  tabindex="1">
                Quantity: <span>{{donation?.donation_hours[0]?.quantity}}</span>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
