<ion-content color="primary" class="ion-no-padding" id="home-page">
  <section>
    <div class="app-logo">
      <img src="../../assets/02.JPG"/>
    </div>
    <div class="button-wrapper">
      <ion-button type="button" expand="block" routerLink="/donor" class="ion-text-wrap">Login As NGO</ion-button>
      <ion-button type="button" expand="block" routerLink="/donor" class="ion-text-wrap">Login As Donor</ion-button>
      <ion-button type="button" expand="block" routerLink="/donor" class="ion-text-wrap">Login As Acceptor</ion-button>
    </div>
  </section>
</ion-content>
